*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

.textos{

    margin-top: 7.8125vw;

}

#titulo{

    text-align: center;
    font-size: 1.171875vw;
  
}

.produtos{

    display: flex;
    justify-content: space-between;
    margin-top: 6.25vw;

}

#produto1{

    font-size: 1.171875vw;
    padding: 0vw 0vw 0vw 0.78125vw;
}

#produto1 figcaption{

    text-align: center;
}

#produto1 img{

    width: 23.4375vw ;
    height: 23.4375vw;
}

#produto2 img{

    width: 29.609375vw;
    height: 23.28125vw;

}

#produto2 figcaption{

    font-size: 1.171875vw;
    text-align: center;
}

#produto3 img{

   width: 25.625vw; 
   height: 23.28125vw;
}

#produto3 figcaption{

    font-size: 1.171875vw;
    text-align: center;
}